---
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw and Predict</title>
</head>
<body>
    <h1>Draw an Image</h1>
    <!-- Canvas Element for Drawing -->
    <canvas id="canvas" width="280" height="280" style="border: none;"></canvas>
    <br>
    <button id="clear-btn">Clear</button>
    <button id="predict-btn">Predict</button>
    <p id="result"></p>
	<script src="../onnx.js" />
</body>
</html>
